		html{
			font-size:12px;
		}
		.buton{
			border:2px brown ridge;
			background: #ffc37a;
			font-weight:bold;
			color:white;
			text-shadow:0px 0px 4px black,0px 0px 3px black,0px 0px 2px black,0px 0px 2px black;
			box-shadow:0px -3px 2px grey;
			height:2em;
			line-height:2em;
			width:120px;
			text-align:center;
			display:inline-block;
			font-size:0.9em;
			border-top-left-radius:5px;
			border-top-right-radius:5px;
		}
		.buton:hover{
			background:orange;
		}
		#coloane>section{
			border: 1px solid green;
			padding:2px;
			min-width:100px;
			max-width: 200px;
		}
		div#coloane{
			border-top: 3px inset #BBB;

		}
		
		/*rezolvare */
		#coloane {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}

		#imagini { 
			display: flex;
			flex-direction: column;
		}

		#imagini img {
			width: fit-content;
			align-self: flex-end;
		}

		#ord_dr_s:hover + #coloane {
			flex-direction: row-reverse;
		}
                
